@import "tailwindcss";

@theme {
  --color-background: #0f1115;
  --color-surface: #1c1f26;
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-border: #2d3748;
}

@layer base {
  body {
    @apply bg-[var(--color-background)] text-gray-100 font-sans antialiased overflow-hidden select-none;
  }
}
